header{
    text-align: center;
    background-color: rgb(0, 0, 175);
    color: white;
}
#mechwart{
width: 130px;

}
nav{
    background-color:rgb(29, 56, 207) ;
}
a,span {
    color: white;
}

